In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\itzsh\appdata\local\programs\python\python312\lib\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\itzsh\appdata\local\programs\python\python312\lib\site-packages (from pyspark) (0.10.9.7)

WARNING: Ignoring invalid distribution ~ip (C:\Users\itzsh\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\itzsh\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\itzsh\AppData\Local\Programs\Python\Python312\Lib\site-packages)

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.functions import *

In [4]:
spark=SparkSession.builder.appName('Spark').getOrCreate()

In [5]:
spark

In [6]:
df1=spark.read.csv("employees.csv",header=True,inferSchema=True)

In [7]:
df1.show()

+----------+-------+----------+------+
|EmployeeID|   Name|Department|Salary|
+----------+-------+----------+------+
|       101|  Alice|        HR|  4500|
|       102|    Bob|        IT|  6000|
|       103|Charlie|   Finance|  5500|
|       104|  Diana|        HR|  4800|
|       105|  Ethan|        IT|  7000|
|       106|  Fiona|   Finance|  5200|
|       107| George|        IT|  5800|
|       108| Hannah|        HR|  4700|
|       109|    Ian|   Finance|  5100|
|       110|   Jane|        IT|  7500|
+----------+-------+----------+------+

In [8]:
df1.filter(df1['Salary']>5000).show()

+----------+-------+----------+------+
|EmployeeID|   Name|Department|Salary|
+----------+-------+----------+------+
|       102|    Bob|        IT|  6000|
|       103|Charlie|   Finance|  5500|
|       105|  Ethan|        IT|  7000|
|       106|  Fiona|   Finance|  5200|
|       107| George|        IT|  5800|
|       109|    Ian|   Finance|  5100|
|       110|   Jane|        IT|  7500|
+----------+-------+----------+------+

In [9]:
df1.groupby('Department').sum().show()

+----------+---------------+-----------+
|Department|sum(EmployeeID)|sum(Salary)|
+----------+---------------+-----------+
|        HR|            313|      14000|
|   Finance|            318|      15800|
|        IT|            424|      26300|
+----------+---------------+-----------+

In [10]:
df1.orderBy(df1.Salary.desc()).limit(1).show()

+----------+----+----------+------+
|EmployeeID|Name|Department|Salary|
+----------+----+----------+------+
|       110|Jane|        IT|  7500|
+----------+----+----------+------+

In [11]:
df2=spark.read.csv('sales.csv',header=True,inferSchema=True)

In [12]:
df2.show()

+-------------+----------+--------+-----+
|TransactionID|   Product|Quantity|Price|
+-------------+----------+--------+-----+
|            1|    Laptop|       5| 1000|
|            2|Smartphone|      10|  500|
|            3|Headphones|      15|  100|
|            4|Smartwatch|       7|  300|
|            5|    Tablet|       8|  400|
|            6|   Monitor|       4|  200|
|            7|  Keyboard|      20|   50|
|            8|     Mouse|      25|   25|
|            9|   Speaker|      12|  150|
|           10|   Printer|       6|  250|
+-------------+----------+--------+-----+

In [13]:
df2.describe().show()

+-------+------------------+----------+-----------------+------------------+
|summary|     TransactionID|   Product|         Quantity|             Price|
+-------+------------------+----------+-----------------+------------------+
|  count|                10|        10|               10|                10|
|   mean|               5.5|      NULL|             11.2|             297.5|
| stddev|3.0276503540974917|      NULL|6.908931417616862|289.26391256275144|
|    min|                 1|Headphones|                4|                25|
|    max|                10|    Tablet|               25|              1000|
+-------+------------------+----------+-----------------+------------------+

In [14]:
df2=df2.withColumn('Total Cost',df2['Quantity']*df2['Price'])

In [15]:
df2.show()

+-------------+----------+--------+-----+----------+
|TransactionID|   Product|Quantity|Price|Total Cost|
+-------------+----------+--------+-----+----------+
|            1|    Laptop|       5| 1000|      5000|
|            2|Smartphone|      10|  500|      5000|
|            3|Headphones|      15|  100|      1500|
|            4|Smartwatch|       7|  300|      2100|
|            5|    Tablet|       8|  400|      3200|
|            6|   Monitor|       4|  200|       800|
|            7|  Keyboard|      20|   50|      1000|
|            8|     Mouse|      25|   25|       625|
|            9|   Speaker|      12|  150|      1800|
|           10|   Printer|       6|  250|      1500|
+-------------+----------+--------+-----+----------+

In [16]:
df2.groupBy("Product").agg(sum("Total Cost")).orderBy("sum(Total Cost)", ascending=False).show(2)

+----------+---------------+
|   Product|sum(Total Cost)|
+----------+---------------+
|    Laptop|           5000|
|Smartphone|           5000|
+----------+---------------+
only showing top 2 rows

In [18]:
df2.agg(sum("Total Cost")).show()

+---------------+
|sum(Total Cost)|
+---------------+
|          22525|
+---------------+